#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #fff;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(http://toutiaoabc.com/fangimg.php?url=http://mmbiz.qpic.cn/mmbiz_jpg/RiacFDBX14xC5GibATwA0C6yHC2O9yjfRq4cRWFtQqHSgwD6nngRosTKSb9BLUwyMBicFViaxBvjstju78xn98ALIQ/0?wx_fmt=jpeg)
}
.slideshow li:nth-child(2) {
    background-image: url(http://a1.att.hudong.com/40/86/19300001351528131708865107983_950.jpg);
    animation-delay: 5s;
}
.slideshow li:nth-child(3) {
    background-image: url(http://img02.tooopen.com/images/20140311/sy_56478996782.jpg);
    animation-delay: 10s;
}
.slideshow li:nth-child(4) {
    background-image: url(https://steemitimages.com/DQmQoNGjbfdJ3uD8wF4FFU1VB2fRuxzkKKm5bswPUc9a4Ec/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180305201352.jpg);
    animation-delay: 15s;
}
.slideshow li:nth-child(5) {
    background-image: url(http://image.imspender.com/images/6091f4647de1bfad76fb00cc4a3d7153ee060bd0.jpg);
    animation-delay: 20s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    30% {
        opacity: 0
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}